@charset "UTF-8";
body,
html {
  margin: 0;
  padding: 0%;
  font-size: 16px;
  line-height: 20px;
  background: #16151a;
  font-family: "RostelecomBasisBold";
}

* {
  box-sizing: border-box;
}

li,
ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  color: black;
  text-decoration: none;
}

@font-face {
  font-family: "RostelecomBasisBold";
  src: url("../fonts/RostelecomBasisBold.otf");
}
.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  outline: none;
  border: 0;
  background-color: inherit;
}

.header {
  background: #16151a;
  padding: 15px 0px;
}
.header .container {
  padding: 0 70px;
}
.header__logo {
  margin-right: 30px;
}
.header__left {
  display: flex;
  align-items: center;
}
.header__right {
  display: flex;
  align-items: center;
  color: #fff;
}
.header__right-img {
  margin-top: 6px;
  margin-right: 5px;
}
.header__right-line {
  padding-top: 3px;
}
.header__right-register {
  padding-top: 3px;
}
.header__right button {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .menu__ul {
  display: flex;
  align-items: center;
}
.header .menu__list {
  margin: 0 10px;
}
.header .menu__list-link {
  color: #fff;
  font-family: "RostelecomBasisBold";
  position: relative;
}
.header .menu__list-link:before {
  content: "";
  width: 0%;
  background-color: #fff;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  transition: all 0.4s;
}
.header .menu__list-link:hover:before {
  width: 100%;
}

.film-info {
  position: relative;
  height: 365px;
  max-width: 1200px;
  margin: 0 auto;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: flex-end;
  color: #fff;
  font-family: "RostelecomBasisBold";
  padding: 0px 60px 34px 60px;
  border-radius: 8px;
}
.film-info:before {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 8px;
  content: "";
  width: 100%;
  height: 100%;
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.32) 100%), url(.jpg);
  background-blend-mode: multiply, normal;
}
.film-info .container {
  width: 100%;
  position: relative;
  z-index: 30;
}
.film-info__limitations {
  display: flex;
  align-items: center;
}
.film-info__limitations-disp, .film-info__limitations-term, .film-info__limitations-age {
  padding: 0 5px;
  height: 22.05px;
  background: #f52f57;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 10px;
}
.film-info__limitations-term {
  background: #6f31be;
}
.film-info__limitations-age {
  background: rgba(0, 0, 0, 0.5);
}
.film-info__wrapper {
  display: flex;
  justify-content: space-between;
}
.film-info__wrapper-title {
  margin-top: 12px;
  font-size: 40px;
  line-height: 51px;
  font-weight: 700;
}
.film-info__wrapper-subtext {
  font-size: 17px;
  line-height: 22px;
  font-weight: 700;
}
.film-info__wrapper-info {
  display: flex;
  align-items: flex-end;
}
.film-info__wrapper-info_item {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  margin-left: 15px;
}
.film-info__wrapper-info_estimation {
  font-size: 27px;
  line-height: 35px;
}
.film-info__wrapper-info_text {
  font-size: 12px;
  line-height: 15px;
}

.leaders {
  display: block;
}
.leaders__title {
  font-size: 27px;
  line-height: 35px;
  margin: 35px 0 15px 0;
  color: #fff;
  font-family: "RostelecomBasisBold";
}
.leaders__wrapper {
  display: flex;
  justify-content: space-between;
}

.leaders-card {
  position: relative;
  width: 176px;
}
.leaders-card__preview:before {
  content: "Премьера";
  width: 78.02px;
  height: 22.08px;
  background: #6f31be;
  font-family: "RostelecomBasisBold";
  position: absolute;
  left: 5px;
  top: 5px;
  color: #fff;
  z-index: 20;
  font-size: 14px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leaders-card__top {
  width: 100%;
  height: 255px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 3px;
}
.leaders-card__bottom {
  color: #fff;
  margin-top: 10px;
}

.serials {
  display: block;
}
.serials__title {
  font-size: 27px;
  line-height: 35px;
  margin: 52px 0 15px 0;
  color: #fff;
  font-family: "RostelecomBasisBold";
}
.serials__wrapper {
  display: flex;
  justify-content: space-between;
}

.serial-card {
  position: relative;
  width: 378px;
}
.serial-card__top {
  width: 100%;
  height: 255px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 3px;
  position: relative;
}
.serial-card__bottom {
  color: #fff;
  margin-top: 10px;
  position: absolute;
  bottom: 20px;
  left: 10px;
}
.serial-card__bottom-title {
  font-size: 17px;
  line-height: 21px;
}
.serial-card__bottom-subtitle {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #ffffff;
  opacity: 0.5;
}

.thematic {
  display: block;
}
.thematic .swiper-wrapper {
  padding-bottom: 100px;
}
.thematic__title {
  font-size: 27px;
  line-height: 35px;
  margin: 52px 0 15px 0;
  color: #fff;
  font-family: "RostelecomBasisBold";
}

.thematic-card {
  position: relative;
  width: 378px;
}
.thematic-card__top {
  width: 100%;
  height: 177px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  position: relative;
}
.thematic-card__bottom {
  color: #fff;
  margin-top: 10px;
  position: absolute;
  bottom: -25px;
  font-size: 16px;
}

.swiper-button-prev,
.swiper-button-next {
  opacity: 1;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  content: "" !important;
}

.swiper-button-prev {
  margin-left: 10px;
}

.swiper-button-next {
  margin-right: 10px;
}

.footer {
  position: relative;
  margin-top: 50px;
}
.footer .container {
  position: relative;
  padding: 10px 0 30px 0;
}
.footer .container:before {
  width: 100%;
  background: #2b2a2f;
  height: 1px;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}
.footer__top-ul {
  display: flex;
  align-items: center;
}
.footer__top-li {
  margin-right: 15px;
}
.footer__top-li a {
  color: #fff;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: -0.015em;
  color: #b4b7bb;
}
.footer__bottom-text {
  margin-top: 4px;
  font-size: 11px;
  line-height: 14px;
  letter-spacing: -0.015em;
  color: #545156;
}
.footer__bottom-text a {
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.5px !important;
  text-decoration: underline;
}

.pather {
  margin: 131px 0 40px 0;
}
.pather__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facts {
  text-align: center;
}
.facts__btn {
  width: 153.04px;
  height: 52.14px;
  background: #ff4f12;
  box-shadow: -3px 5px 3px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #fff;
  font-size: 25px;
  line-height: 32px;
  margin: 0 auto;
}
.facts .film-info {
  max-width: 100%;
}
.facts__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 45px;
}
.facts__block {
  margin-top: 50px;
  width: 100%;
  text-align: left;
}
.facts__title {
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 51px;
  color: #fff;
}
.facts__subtitle {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #919193;
}

.facts-card {
  position: relative;
  width: 378px;
  height: 241px;
  border-radius: 10px;
  margin-bottom: 30px;
}
.facts-card__bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  border-radius: 10px;
}
.facts-card__info {
  position: absolute;
  color: #fff;
  bottom: 20px;
  left: 20px;
}
.facts-card__info-title {
  font-size: 17px;
  line-height: 21px;
}
.facts-card__info-text {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.015em;
  color: #ffffff;
  opacity: 0.5;
}

.facts-card-detail {
  width: 100%;
  margin-bottom: 45px;
}
.facts-card-detail:last-child {
  margin-bottom: 40px;
}
.facts-card-detail__top {
  height: 365px;
  padding: 20px;
  border-radius: 10px;
  background-size: cover;
  background-position: center center;
}
.facts-card-detail__count {
  display: flex;
  align-items: center;
}
.facts-card-detail__index {
  display: flex;
  margin-left: 10px;
}
.facts-card-detail__title, .facts-card-detail__index {
  font-size: 35px;
  line-height: 45px;
  letter-spacing: 0.02em;
  color: #919193;
}
.facts-card-detail__text {
  margin-top: 60px;
  color: #fff;
  max-width: 800px;
  padding-left: 70px;
  font-size: 25px;
  line-height: 32px;
}
.facts-card-detail__bottom {
  padding-top: 20px;
  padding-left: 45px;
}
.facts-card-detail__bottom-text {
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.02em;
  color: #919193;
  padding-bottom: 18px;
}

.form_radio {
  margin-bottom: 13px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-left: 25px;
}
.form_radio label {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #4e4e55;
}

.form_radio input[type=radio] {
  display: none;
}

.form_radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-left: 40px;
}

.form_radio label:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background-image: url(../img/radio-1.png);
  background-size: cover;
}

.form_radio input[type=radio]:checked + label:before {
  background-image: url(../img/radio-2.png);
  background-size: cover;
}

.form_radio input[type=radio]:checked + label {
  color: #919193;
}

.auth {
  text-align: center;
  color: #ffffff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #16151a;
  border: 1px solid #111013;
  box-shadow: -3px 5px 97px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  z-index: 50;
  padding: 100px 150px 70px 150px;
  width: 700px;
}
.auth__close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.auth__title {
  font-size: 28px;
  line-height: 36px;
  letter-spacing: 0.02em;
}
.auth__subtitle {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-top: 15px;
  font-weight: 500;
  margin-bottom: 20px;
}
.auth__form {
  display: flex;
  flex-direction: column;
  position: relative;
}
.auth__form-input {
  position: relative;
  margin-bottom: 27px;
}
.auth__form label {
  position: absolute;
  top: -15px;
  left: 0;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.015em;
  color: #919193;
}
.auth__form input {
  width: 100%;
  outline: none;
  border: 0;
  background-color: inherit;
  border-bottom: 1px solid #38383d;
  padding: 10px;
  transition: all 0.4s;
}
.auth__form input[type=submit] {
  background: #2b2a2f;
  border-radius: 10px;
  height: 55px;
  width: 100%;
  color: #525255;
  font-size: 18px;
  line-height: 23px;
  cursor: pointer;
}
.auth__form input:focus {
  border-bottom: 1px solid #ff4f12;
  color: #fff;
  transition: all 0.4s;
}
.auth__form input:focus::-moz-placeholder {
  color: #fff;
}
.auth__form input:focus:-ms-input-placeholder {
  color: #fff;
}
.auth__form input:focus::placeholder {
  color: #fff;
}
.auth__form input[type=submit]:focus {
  border: 0;
}
.auth__form input[type=submit]:hover {
  background: #100f14;
  color: #fff;
}

.facts-result {
  color: #fff;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #16151a;
  box-shadow: -3px 5px 97px rgba(0, 0, 0, 0.5);
  border-radius: 25px;
  text-align: center;
  padding: 200px 57px 100px 57px;
  width: 700px;
}
.facts-result__wrapper-points {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  line-height: 58px;
  padding-bottom: 80px;
  position: relative;
}
.facts-result__wrapper-points div {
  margin: 0 5px;
}
.facts-result__wrapper-subtitle {
  font-size: 17px;
  line-height: 112%;
  text-align: center;
  letter-spacing: 0.02em;
  color: #919193;
  max-width: 450px;
  margin: 10px auto 0 auto;
}
.facts-result__wrapper-btn {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.02em;
  color: #ff4f12;
  margin: 10px 0;
  display: inline-block;
}
